@import '../../../styles.scss';

.flex {
    align-items: center;
    justify-content: center;
    padding: 2px 1.75px;
    height: 30px;
}

img {
    height: 24px;
    aspect-ratio: 1;
    margin: 0 2px 0;
    border-radius: 25%;
}

p {
    font-size: .85rem;
    font-weight: 600;
    margin: 0 2px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}


$br: calc($container-border-radius / 2);

.att {
    border-radius: $br 0 0 $br;
    width: 40px;
    justify-content: center;
}

.name {
    border-radius: 0 $br $br 0;
}