<div class="flex">
  <span
    class="flex att skeleton"
    [style.background-color]="tag?.leftColor + '!important'"
  >
    <!-- Icono -->
    <img
      *ngIf="tag?.icon; else skeletonIcon"
      loading="lazy"
      width="24px"
      height="24px"
      src="{{ tag?.icon || '' }}"
      alt="{{ tag?.txt || '' }} icon"
    />
  </span>
  <span
    class="flex name mid skeleton"
    [style.width]="length"
    [style.background-color]="tag?.rightColor + '!important'"
  >
    <!-- Texto -->
    <p [style.width]="length" *ngIf="tag?.txt; else skeletonIcon">
      {{ (tag?.txt | uppercase) || "" }}
    </p>
  </span>
</div>

<ng-template #skeletonIcon></ng-template>
