@import "../../../styles.scss";

.container {
  width: 70%;
  margin: 0 15%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

$height: 400px;

.data {
  width: 60%;
  height: calc($height + 12px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.picture {
  width: 40%;
  text-align: center;

  .pict {
    background-image: url("../../../assets/images/Orla.jpeg");
    height: $height;
    width: 300px;
    animation: morph 10s ease-in-out infinite;
    border: 2px solid $gray;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: $shadow-bot;
  }
}

.flex {
  align-items: center;
  margin-bottom: 20px;
  h2 {
    font-size: 1.45rem;
    width: 100px;
  }
  ul {
    display: flex;
    column-gap: 25px;
    margin-left: 25px;
    height: 30px;
    li {
      object-fit: contain;
    }
    .toptt img {
      transition: $transition-3s;
      width: 28px;
      height: 28px;
    }

    .toptt:hover img {
      width: 36px;
      height: 36px;
    }
  }
}

h1 {
  font-size: 3rem;
  text-align: justify;
  margin-bottom: 25px;
}

.networks {
  display: flex;
  align-items: center;
  height: 48px;
  margin: 15px 0;
}

svg {
  filter: drop-shadow($d-shadow-bot);
  transition: $transition-3s;

  .svg {
    height: 100%;
    aspect-ratio: 1;
    fill: white;
    transition: $transition-3s;
  }
  &:hover {
    filter: drop-shadow(0 10px 10px rgb(0, 0, 0));

    .svg {
      fill: $gray;
    }
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

img,
svg,
path {
  z-index: -1;
}

/* menor a 1024px */
@media (max-width: 1024px) {
  .flex {
    margin-bottom: 50px;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

/* menor a 768px */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    width: 88%;
    margin: 0 4%;
  }
  .data {
    width: 100%;
    h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-top: 75px;
    }

    p {
      padding: 10px 25px;
      text-align: justify;
      font-size: large;
    }

    .networks {
      justify-content: center;
      ~ section {
        padding: 0px 110px;
      }
    }
  }

  .flex > ul {
    display: flex;
  }
}

/* menor a 768px */
@media only screen and (max-width: 500px) {
  .container {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 200px;
  }
  .data {
    h1 {
      margin-top: 250px;
    }

    p {
      padding: 10px 25px;
      text-align: justify;
      font-size: large;
    }

    .networks {
      justify-content: center;
      ~ section {
        padding: 0;

        .flex {
          margin-bottom: 50px;
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
        }
      }
    }
  }

  .picture {
    width: 100%;
  }
}
