$black: #1a1921;
$dark-gray: #383547;
$gray: #6b6488;
$white: #f0eae0;

$blue: #08a4bd;
$yellow: #e59500;

$red: #d72638;
$green: #558564;

// Important Things
$background: $black;
$main-color: $yellow;
$second-color: $blue;

$container-bg: linear-gradient($dark-gray, $black 100%);