@import "../../../../styles.scss";
$bg: rgba($gray, 0.25);

.card {
  border: 1px solid red;
  width: 100%;
  padding: 40px 35px;
  background-color: $bg;
  backdrop-filter: blur(10px);
  box-shadow: $shadow-bot;
  border-radius: 10px;
  display: grid;
}

.grid {
  grid-template-columns: 2fr 3fr;
}

img {
  width: 100%;
  border-radius: 5px;
}
