@import '../styles.scss';

$margin: 25px;

.main-grid {
    grid-template-columns: 1.5fr 5fr;
    gap: 25px;
    align-items: center;
    margin: $margin;
    height: calc(100vh - calc($margin * 2));
    width: calc(100vw - calc($margin * 2));
}

.side {
    height: 100%;
}

.main {
    border-radius: $container-border-radius;
    height: 100%;
    background: $gray;
    background: $container-bg;
    position: relative;
}