@import "../../../styles.scss";

$bg: rgba($gray, 0.25);

$m: 50px;

header {
  width: calc(100% - $m * 2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px $m;
  background-color: $bg;
  border-radius: 10px;
  height: 64px;
  backdrop-filter: blur(10px);
  box-shadow: $shadow-bot;
}

#title {
  margin-left: $m;
}

select {
  width: 125px;
  margin-right: calc($m * 2);

  option:hover {
    background-color: rgba($gray, 0.8);
  }
}

@media (width <=1024px) {
  $m: 25px;

  header {
    margin: 5px $m;
  }

  #title {
    margin-left: $m / 3;
  }

  select {
    margin-right: calc($m/2);
  }
}

@media (width <=768px) {
  #title>h2 {
    font-size: larger;
  }

  header {
    height: 100px;
  }

  select {
    height: 50px;
  }
}