/* You can add global styles to this file, and also import other style files */
@import "./themes/colors.scss";
@import "./themes/shadows.scss";
@import "./themes/variables.scss";
@import "./themes/forms.scss";
@import "./themes/grid.scss";
@import "./themes/skeleton.scss";
@import "./themes/tooltip.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap");

* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($black, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-gray;
    border-radius: 5px;
  }
}

body {
  background-color: $background;
  color: $white;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem !important ;
  font-family: "Titan One", cursive;
  font-weight: 400;
}

.flex {
  display: flex;
}

svg {
  fill: white;
}

hr {
  width: 100%;
  margin: 10px 0;
  height: 0.1rem;
  border-color: $gray;
  background-color: $gray;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.click {
  cursor: pointer;
}
