/* You can add global styles to this file, and also import other style files */
@import './themes/colors.scss';
@import './themes/shadows.scss';
@import './themes/variables.scss';
@import './themes/forms.scss';
@import './themes/grid.scss';

* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba($black, .4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark-gray;
    border-radius: 5px;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background;
  color: $white;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}



.flex {
  display: flex;
}

svg {
  fill: white;
}

hr {
  width: 100%;
  margin: 10px 0;
  height: .1rem;
  border-color: $gray;
  background-color: $gray;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.click {
  cursor: pointer;
}