<div class="relative">
  <section class="relative">
    <span class="bubble yl"></span>
    <span class="bubble rd"></span>
    <span class="bubble gr"></span>
    <span class="bubble bl"></span>
  </section>
  <section class="container flex">
    <article class="picture">
      <img loading="lazy" src="../../../assets/images/eii.jpg" alt="EII" width="750px" />
    </article>
    <article class="info flex">
      <h1 [innerHTML]="'about.title' | translate | safeHtml"></h1>
      <p [innerHTML]="'about.p1' | translate | safeHtml"></p>
      <p [innerHTML]="'about.p2' | translate | safeHtml"></p>
      <p [innerHTML]="'about.p3' | translate | safeHtml"></p>
      <ul [innerHTML]="'about.list' | translate | safeHtml"></ul>
    </article>
  </section>

  <section class="container">
    <article>
      <h1 [innerHTML]="'mInfo.title' | translate | safeHtml"></h1>

      <!-- AWS y OCI -->
      <p [innerHTML]="'mInfo.p1' | translate | safeHtml" class="pre"></p>

      <!-- Primera fila -->
      <section class="flex cont">
        <!-- AWS -->
        <article class="flex sect" [innerHTML]="'mInfo.aws' | translate | safeHtml"></article>
        <!-- OCI -->
        <article class="flex sect" [innerHTML]="'mInfo.oci' | translate | safeHtml"></article>
      </section>

      <hr>

      <!-- Librerías y Frameworks -->
      <p [innerHTML]="'mInfo.p2' | translate | safeHtml" class="pre"></p>

      <!-- Segunda fila -->
      <section class="flex cont">
        <!-- PrimeNG -->
        <article class="flex sect" [innerHTML]="'mInfo.primeng' | translate | safeHtml"> </article>
        <!-- AOS -->
        <article class="flex sect" [innerHTML]="'mInfo.aos' | translate | safeHtml"> </article>

        <!-- astro -->
        <article class="flex sect" [innerHTML]="'mInfo.astro' | translate | safeHtml"> </article>
      </section>

      <hr>

      <!-- Librerías y Frameworks -->
      <p [innerHTML]="'mInfo.p2' | translate | safeHtml" class="pre"></p>

      <!-- <div class="flex cont">
        <div class="flex sect">
          <img src='../../../assets/images/masInfo/primeng.webp' alt='PrimeNG Icon' width='50px' height='50px'>
          <p><a href="https://primeng.org" target="_blank" rel="noopener noreferrer"><strong>PrimeNG</strong></a>
        </div>
      </div> -->
    </article>
  </section>
</div>